





<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imagen</title>
	

	<link rel="icon" type="image/x-icon" href="img/limpieza.png" />
	






	<style type="text/css">
		body{
			background-image:url(/img/wall.jpg);
	background-size:cover;
	background-attachment: fixed;
	font-weight: bold;
		
  font-family:'Gamer';
	src:url('/fuentes/Ray.ttf');
  border-radius: 30px;
  font:40px 'Gamer';
   padding: 20px 0;
   color: rgb(252, 252, 252);



    }
    form{
    	display: flex;
    	flex-direction: column;
    	margin:80px auto;
    	width:40%;
    	background:rbg(0,0,0,.8);
		font-weight: bold;
		
  font-family:'Gamer';
	src:url('/fuentes/Ray.ttf');
  border-radius: 30px;
  font:40px 'Gamer';
   padding: 20px 0;
   color: rgb(255, 255, 255);
    }
    input{
    	padding:10px;
    	margin:10px;
    }    
	 @font-face{
  
  font-family:'Gamer';
  src:url('/fuentes/Ray.ttf');}


    label{
    	
    	font-weight: bold;
		
  font-family:'Gamer';
	src:url('/fuentes/Ray.ttf');
  border-radius: 30px;
  font:40px 'Gamer';
   padding: 20px 0;
   color: rgb(246, 246, 246);
    }
.andri{
	display: flex;
	align-items: center;
	justify-content: center;
}
	
#botones{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
	</style>

</head>
<body>






 <div class="andri"><h1>Agregar Imagen</h1></div>

<div id='divDestacado'>
	
<form action="/addImagen/<%=modelo.producto_id%>" method="post" enctype="multipart/form-data">
	
	<label for='imagen'>Imagen</label>
	
	<input type="file" name="img" id="img" placeholder="Imagen">
  
	<label for="destacado">Destacado</label>
	<select id='destacado' name="destacado">
		<option value='1'>Principal</option>
		<option value='0'>No principal</option>
	</select>

	<input type="submit" value="add" id="destacado">
	<div id='botones'>
		<a href='/productos'>Volver</a>
	</div>
</form>
</div>

</body>

</html>    