<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="images/CybersecurityMars.jpg" alt="Logo de Cybersecurity Mars">
        <h2 class="nombre-empresa">CybersecurityMars</h2>
      </div>
      <nav>
        <a href="/" class="nav-link">Inicio</a>
        <a href="/Contact" class="nav-link">Contacto</a>
        <a href="/Pago" class="nav-link">Contratar Servicio</a>
        <a href="https://www.instagram.com/cybersecuritymars/" target="_blank" class="nav-link">Instagram</a>
      </nav>
    </header>
    <h2 class="Bienvenida">¡Bienvenido a CybersecurityMars!</h2>
    <p class="P">Nos encargamos de proporcionarte las mejores maneras y recomendaciones sobre como mantener a salvo tu negocio gracias a las opiniones de expertos en Ciberseguridad</p>
    <div class="carrusel">
      <div class="wrap">
          <img src="images/Camara.jpg" alt=""/>
          <img src="images/Antivirus o Antimalware.jpg" alt=""/>
          <img src="images/Codigo Binario.png" alt=""/>
          <img src="images/Guardado en la nube.jpeg" alt=""/>
          <img src="images/Camara.jpg" alt=""/>
          <img src="images/Antivirus o Antimalware.jpg" alt=""/>
          <img src="images/Codigo Binario.png" alt=""/>
          <img src="images/Guardado en la nube.jpeg" alt=""/>
          <img src="images/Camara.jpg" alt=""/>
          <img src="images/Antivirus o Antimalware.jpg" alt=""/>
          <img src="images/Codigo Binario.png" alt=""/>
          <img src="images/Guardado en la nube.jpeg" alt=""/>
      </div>
    </div>
    <section class="VB">
    <div class="Caja-VB">
        <h5>Ventajas</h5>
        <p>Nuestro contenido experto te ayudará a entender mejor los riesgos y a implementar las mejores prácticas para proteger tu vida digital.</p>
        <p>Si buscas avanzar en tu carrera o encontrar soluciones de seguridad, nuestra plataforma puede abrirte puertas.</p>
        <p>Encuentra en un solo lugar guías, herramientas y análisis profundos sobre diversos temas de ciberseguridad.</p>
    </div>
    <div class="Caja-VB">
        <h5>Beneficios</h5>
        <p>Te ayudaremos a comprender los riesgos ya que así podrás navegar por el mundo digital con mayor seguridad y tranquilidad.</p>
        <p>Adquieres el conocimiento necesario para defenderte de ataques cibernéticos y proteger tu información personal y profesional.</p>
        <p>Te ayudaremos a informarte y aplicar buenas prácticas de los metodos de seguridad.</p>
    </div>
</section>
<footer>
  <div class="Pie">
      <h3>Copyright EmperorMars 2025</h3>
      <h3>Número de Contacto: 02464318036</h3>
  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>