<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Marcos Vinicio Araujo Sojo <%= title %></p> <br>
    <p>C.I. 30160109</p> <br>
    <p>Programación 2, Sección 4</p>
  </body>
</html>
