<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <Div class="Head">
        <Div class="Titulo">
          <h1>Cybersecurity Mars</h1>
          <div class="social-buttons">
            <a href="https://www.facebook.com/profile.php?id=61575611705045" class="btn facebook" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/cybersecuritymars/" class="btn instagram" target="_blank">Instagram</a>
        </div>
      </Div>
  </Div> 
  <br><br><br><br><br><br>
  <header class="Header">
      <h2 class="Bienvenida">¡Bienvenido a Cybersecurity Mars!</h2>
      <p class="P">Nos encargamos de proporcionarte las mejores maneras y recomendaciones sobre como mantener a salvo tu negocio gracias a las opiniones de expertos en Ciberseguridad</p>
      <div class="carrusel">
        <div class="wrap">
            <img src="images/Camara.jpg" alt=""/>
            <img src="images/Antivirus o Antimalware.jpg" alt=""/>
            <img src="images/Codigo Binario.png" alt=""/>
            <img src="images/Guardado en la nube.jpeg" alt=""/>
            <img src="images/Camara.jpg" alt=""/>
            <img src="images/Antivirus o Antimalware.jpg" alt=""/>
            <img src="images/Codigo Binario.png" alt=""/>
            <img src="images/Guardado en la nube.jpeg" alt=""/>
            <img src="images/Camara.jpg" alt=""/>
            <img src="images/Antivirus o Antimalware.jpg" alt=""/>
            <img src="images/Codigo Binario.png" alt=""/>
            <img src="images/Guardado en la nube.jpeg" alt=""/>
        </div>
      </div>
  </header>
  <section class="Recomendaciones">
      <Div class="box-container">
          <Div class="box"> <br>
              <img src="images/MSN.png" width="25" height="25">
              <p>Juan comentó:</p> <br>
              <p>Usar contaseñas de gran complejidad, ya que estas se forman por lo que son símbolos, números, combinación entre minúsculas, mayúsculas, 
                  números, signos de puntuación, entre otros. Al igual que no es recomendable utilizar la misma contraseña por más segura que sea para multiples cuentas con datos importantes de su empresa. Un ejemplo de contraseña segura sería más o menos de la siguiente manera: H0la,35tA-3s:uNa.c0ntRas3Ña;c0mPl3ja-pAra-3v1taR_3lr0B0:d3-m1.iNf0rmAcIon</p>
          </Div>
      </Div>
      <Div class="box-container">
          <Div class="box"> <br>
              <img src="images/MSN.png" width="25" height="25">
              <p>Pedro comentó:</p> <br>
              <p>Usar Antivirus y Antimalware. Deben instalar y mantener actualizados los Antivirus y Antimalware confiables en todos los dispositivos de la empresa. Es importante realizar escaneos de manera regular.</p> <br>
              <p></p>
          </Div>
      </Div>
  </section>
  <section class="Recomendaciones">
      <Div class="box-container">
          <Div class="box"> <br>
              <img src="images/MSN.png" width="25" height="25">
              <p>Diego comentó:</p> <br>
              <p>Recomendable implementar un Firewall robusto, este servirá para controlar el tráfico de red entrante y saliente, 
                  bloqueando accesos no autorizados. Hay que priorizar de que esté correctamente configurado.</p> <br>
              <p>También es recomendable actualizar los distintos Software que manejen, siendo sistemas operativos, navegadores web, aplicaciones y plugins.
                  Las actualizaciones de manera seguida contienen parches de seguridad importantes.</p>
          </Div>
      </Div>
      <Div class="box-container">
          <Div class="box"> <br>
              <img src="images/MSN.png" width="25" height="25">
              <p>Manuel comentó:</p> <br>
              <p>Crear y Realizar Copias de Seguridad Regularmente.</p>
              <p>Es importantes realizar copias de seguridad de manera periódicas de los datos de mayor importancia de la empresa.
                  Guardar estas copias de seguridad en una ubicación segura y totalmente separadas de los sistemas principales
              (Recomendablemente en la nube o en un disco duro externo desconectado). Y probar la restauración de las copias de seguridad regularmente.</p>
          </Div>
      </Div>
  </section>
  <section class="Recomendaciones">
      <Div class="box-container">
          <Div class="box"> <br>
              <img src="images/MSN.png" width="25" height="25">
              <p>Julian comentó:</p>
              <p>Poseer de Controles de Acceso. Los controles de acceso son de suma importancia, ya que limitan el acceso a la información y los sistemas solamente a los empleados que lo necesiten para realizar su trabajo. Es completamente recomendable revocar el acceso cuando un empleado deja la empresa.</p>
          </Div>
      </Div>
      <Div class="box-container">
          <Div class="box"> <br>
              <img src="images/MSN.png" width="25" height="25">
              <p>Javier comentó:</p>
              <p>Deberían implementar un cifrado a los datos sensibles de la Empresa. Cifrar los datos confidenciales tanto en tránsito como en reposo. Esto hará que la información sea ilegible para personas no autorizadas.</p>
              <p>Al igual que usar una Red de WIFI segura. Asegurar su Red WIFI con el protocolo WPA3 (o WPA2 si WPA3 no es compatible).</p>
              <p>Cambiar la contraseña predeterminada del router. Considera también, crear una Red de invitados separada para los visitantes.</p>
          </Div>
      </Div>
  </section>
  <footer>
    <div class="Pie">
        <h3>Copyright EmperorMars 2025</h3>
    </div>
    <div class="Contacto">
        <h5>Número de Contacto: 02464318036</h5>
    </div>
</footer>
  <script 
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>